[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = mRemoteNG is the next generation of mRemote, open source, tabbed, multi-protocol, remote connections manager.
[access "refs/*"]
	owner = group user/郝玉杰 (haoyujie)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/郝玉杰 (haoyujie)
	label-Verified = -1..+1 group user/郝玉杰 (haoyujie)
	push = group user/郝玉杰 (haoyujie)
	read = group user/郝玉杰 (haoyujie)
	rebase = group user/郝玉杰 (haoyujie)
	removeReviewer = group user/郝玉杰 (haoyujie)
	submit = group user/郝玉杰 (haoyujie)
[access "refs/heads/*"]
	create = group user/郝玉杰 (haoyujie)
	push = +force group user/郝玉杰 (haoyujie)
	pushMerge = group user/郝玉杰 (haoyujie)
	read = group user/郝玉杰 (haoyujie)
[access "refs/tags/*"]
	push = group user/郝玉杰 (haoyujie)
	push = +force group user/郝玉杰 (haoyujie)
